'fuscous-gray': {
    '50': '#f7f6f6',
    '100': '#eeeded',
    '200': '#d5d3d2',
    '300': '#bcb9b7',
    '400': '#898480',
    '500': '#574f4a',
    '600': '#4e4743',
    '700': '#413b38',
    '800': '#342f2c',
    '900': '#2b2724'
}

--brand-color-50:  #f7f6f6;
--brand-color-100: #eeeded;
--brand-color-200: #d5d3d2;
--brand-color-300: #bcb9b7;
--brand-color-400: #898480;
--brand-color-500: #574f4a;
--brand-color-600: #4e4743;
--brand-color-700: #413b38;
--brand-color-800: #342f2c;
--brand-color-900: #2b2724;
