--color-red-50:  #fef2f2;
--color-red-100: #fee2e2;
--color-red-200: #fecaca;
--color-red-300: #fca5a5;
--color-red-400: #f87171;
--color-red-500: #ef4444;
--color-red-600: #dc2626;
--color-red-700: #b91c1c;
--color-red-800: #991b1b;
--color-red-900: #7f1d1d;

--color-blue-50:  #f0f9ff;
--color-blue-100: #e0f2fe;
--color-blue-200: #bae6fd;
--color-blue-300: #7dd3fc;
--color-blue-400: #38bdf8;
--color-blue-500: #0ea5e9;
--color-blue-600: #0284c7;
--color-blue-700: #0369a1;
--color-blue-800: #075985;
--color-blue-900: #0c4a6e;

--color-green-50:  #ecfdf5;
--color-green-100: #d1fae5;
--color-green-200: #a7f3d0;
--color-green-300: #6ee7b7;
--color-green-400: #34d399;
--color-green-500: #10b981;
--color-green-600: #059669;
--color-green-700: #047857;
--color-green-800: #065f46;
--color-green-900: #064e3b;

--color-orange-50:  #FFF7ED;
--color-orange-100: #FFEDD5;
--color-orange-200: #FED7AA;
--color-orange-300: #FDBA74;
--color-orange-400: #FB923C;
--color-orange-500: #F97316;
--color-orange-600: #EA580C;
--color-orange-700: #C2410C;
--color-orange-800: #9A3412;
--color-orange-900: #7C2D12;

--color-yellow-50:  #fefce8;
--color-yellow-100: #fef9c3;
--color-yellow-200: ##fef08a;
--color-yellow-300: #fde047;
--color-yellow-400: #fde047;
--color-yellow-500: #eab308;
--color-yellow-600: #ca8a04;
--color-yellow-700: #a16207;
--color-yellow-800: #854d0e;
--color-yellow-900: #713f12;

--color-gray-50:  #fafafa;
--color-gray-100: #f4f4f5;
--color-gray-200: #e4e4e7;
--color-gray-300: #d4d4d8;
--color-gray-400: #a1a1aa;
--color-gray-500: #71717a;
--color-gray-600: #52525b;
--color-gray-700: #3f3f46;
--color-gray-800: #27272a;
--color-gray-900: #18181b;

--color-grey-50:  #FAFAF9;
--color-grey-100: #F5F5F4;
--color-grey-200: #E7E5E4;
--color-grey-300: #D6D3D1;
--color-grey-400: #8A29E;
--color-grey-500: #78716C;
--color-grey-600: #57534E;
--color-grey-700: #44403C;
--color-grey-800: #292524;
--color-grey-900: #1C1917;
