/* link go nowhere */
/*a:is(:not([href]), [href=""], [href="#"]) {
    outline:  2px dotted red;
}*/

/* Identify PDF Bombs! */
/*a[href$=".pdf"]:after {
    content: " (PDF)";
}*/

/* If file size specified as data attribute use that too */
a[href$=".pdf"][data-size]:after {
    content:  " (PDF, " attr(data-size) ")";
}

a {
    @apply no-underline font-bold;

    color: theme('colors.brand.500');
}


/* unvisited link */
a:link {
    @apply no-underline font-bold;

    color: theme('colors.brand.500');

    :hover {
        @apply text-secondary-500;
    }
}

/* visited link */
a:visited {
    @apply no-underline;
    color: theme('colors.brand.500');
}

/* mouse over link */
a:hover {
    @apply no-underline;
    color: theme('colors.secondary.500');
}

/* selected link */
a:active {
    @apply no-underline;
    color: theme('colors.brand.500');
}

a.external-link {
    @apply no-underline;
}

.links-bold {
    a {
        @apply font-semibold
    }
}

.links-weekly-getting-started {
    @apply text-sm;

    a {
        @apply font-bold
    }
}

