<div class="grid grid-cols-2 gap-4">
    <div class="col-span-1">
        <iframe class="img-thumbnail block mx-auto" src="https://www.youtube.com/embed/c-EUDWZhcx0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-span-1">
        <iframe class="img-thumbnail block mx-auto" src="https://www.youtube.com/embed/WFdAHf39dCo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
